.dark-btn{
    background-color: $primary;
    color:$white ;
    border: none;
    border-radius: 8px;
    &:hover{
        color: $light;
        background-color: $info;
    }
}
.link-light{
    color: $white;
    border: none;
    &:hover{
        color:$primary;
    }
}
.navbar-link{
    display: block;
    color: $light;
    border: none;
    &:hover{
        color:#B4B4B4;
        
    }
}
.hover-danger:hover{
    color: $danger;
}
.manu-link{
    display: block;
    font-size: 20px;
    color:$primary;
    padding-top: 8px;
    padding-bottom: 8px;
    &:hover{
        border-bottom: 2px solid rgba(128, 128, 128, 0.4);
    }
}
//nav
.bg-zero{
    background-color:rgba(0, 0, 0, 0);
}
.hover-danger:hover{
    color: $danger;
}
.hover-bg-info:hover{
    background-color: #8792a13f;
    transition: 0.5s;
}
