.home-back{
    background-image: url(../images/article01.jpg);
    height: 812px;
    @include pad {
        height: 1080px;
    }
}
.seek-pic{
    height: 360px;
    @include pad {
        height: 422px;
    }
    @include desk{
        height: 569px;
    }
    @include lg-desk{
        height: 679px;
    }
    @include big{
        height: 789px;
    }
}